<% layout('/layouts/default.html', {title: '代练类型管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('代练类型管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="btnRefreshTree" title="${text('刷新')}"><i class="fa fa-refresh"></i> ${text('刷新')}</a>
				<a href="#" class="btn btn-default" id="btnExpandTreeNode" title="${text('展开一级')}"><i class="fa fa-angle-double-down"></i> ${text('展开')}</a>
				<a href="#" class="btn btn-default" id="btnCollapseTreeNode" title="${text('折叠全部')}"><i class="fa fa-angle-double-up"></i> ${text('折叠')}</a>
				<% if(hasPermi('system:nuanxinTradeCatalog:edit')){ %>
					<a href="${ctx}/system/nuanxinTradeCatalog/form" class="btn btn-default btnTool" title="${text('新增代练类型')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${nuanxinTradeCatalog}" action="${ctx}/system/nuanxinTradeCatalog/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('类目名称')}：</label>
					<div class="control-inline">
						<#form:input path="catalogName" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('服务器类型')}：</label>
					<div class="control-inline width-120">
						<#form:select path="catalogType" dictType="nx_realm_type" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('基础金额')}：</label>
					<div class="control-inline">
						<#form:input path="money" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('status')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("类目名称")}', name:'catalogName', index:'a.catalog_name', width:250, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '( '+row.catalogCode+' ) '+'<a href="${ctx}/system/nuanxinTradeCatalog/form?catalogCode='+row.catalogCode+'" class="btnList" data-title="${text("编辑代练类型")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("类目名称")}', name:'catalogName', index:'a.catalog_name', width:150, align:"left"},
		{header:'${text("服务器类型")}', name:'catalogType', index:'a.catalog_type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('nx_realm_type')}, val, '${text("未知")}', true);
		}},
		{header:'${text("展示类型")}', name:'catalogDisplayType', index:'a.catalog_display_type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('nx_catalog_display_type')}, val, '${text("未知")}', true);
		}},
		{header:'${text("展示标题")}', name:'catalogDisplayName', index:'a.catalog_display_name', width:150, align:"left"},
		{header:'${text("基础金额")}', name:'money', index:'a.money', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("status")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('system:nuanxinTradeCatalog:edit')){ %>
				actions.push('<a href="${ctx}/system/nuanxinTradeCatalog/form?catalogCode='+row.catalogCode+'" class="btnList" title="${text("编辑代练类型")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/system/nuanxinTradeCatalog/disable?catalogCode='+row.catalogCode+'" class="btnList" title="${text("停用代练类型")}" data-confirm="${text("确认要停用该代练类型吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				} else if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/system/nuanxinTradeCatalog/enable?catalogCode='+row.catalogCode+'" class="btnList" title="${text("启用代练类型")}" data-confirm="${text("确认要启用该代练类型吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/system/nuanxinTradeCatalog/delete?catalogCode='+row.catalogCode+'" class="btnList" title="${text("删除代练类型")}" data-confirm="${text("确认要删除该代练类型及所有子代练类型吗？")}" data-deltreenode="'+row.id+'"><i class="fa fa-trash-o"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/system/nuanxinTradeCatalog/form?parentCode='+row.id+'" class="btnList" title="${text("新增下级代练类型")}"><i class="fa fa-plus-square"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	treeGrid: true,			// 启用树结构表格
	defaultExpandLevel: 0,	// 默认展开的层次
	expandNodeClearPostData: 'catalogName,catalogType,money,', // 展开节点清理请求参数数据（一般设置查询条件的字段属性，否则在查询后，不能展开子节点数据）
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>