<% layout('/layouts/default.html', {title: '邀请管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('邀请管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('user:nuanxinInvite:edit')){ %>
					<a href="${ctx}/user/nuanxinInvite/form" class="btn btn-default btnTool" title="${text('新增邀请')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${nuanxinInvite}" action="${ctx}/user/nuanxinInvite/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('invite_user_id')}：</label>
					<div class="control-inline">
						<#form:input path="inviteUserId" maxlength="40" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('invited_user_id')}：</label>
					<div class="control-inline">
						<#form:input path="invitedUserId" maxlength="40" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('invite_time')}：</label>
					<div class="control-inline">
						<#form:input path="inviteTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("invite_user_id")}', name:'inviteUserId', index:'a.invite_user_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/user/nuanxinInvite/form?inviteId='+row.inviteId+'" class="btnList" data-title="${text("编辑邀请")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("invited_user_id")}', name:'invitedUserId', index:'a.invited_user_id', width:150, align:"left"},
		{header:'${text("invite_time")}', name:'inviteTime', index:'a.invite_time', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('user:nuanxinInvite:edit')){ %>
				actions.push('<a href="${ctx}/user/nuanxinInvite/form?inviteId='+row.inviteId+'" class="btnList" title="${text("编辑邀请")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/user/nuanxinInvite/delete?inviteId='+row.inviteId+'" class="btnList" title="${text("删除邀请")}" data-confirm="${text("确认要删除该邀请吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>